@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jersey 10', fantasy;
}

body {
    background-color: #242020;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: aliceblue;
    flex-direction: column;
}

canvas {
    background-color: black;
    border: solid #e6e612 1px;
    box-shadow: 0 0 10px #eecc0e, 0 0 20px #ff00ff, 0 0 30px #f7e602, 0 0 40px #ff00ff, 0 0 10px #ff00ff;
}